<h1>List of tasks</h1>
<ul>
  <% @tasks.each do |task| %>
    <li>
      Name: <%= task.name %>
      <%= link_to "Show details", task_path(task) %>
      <%= link_to "Modify the task", edit_task_path(task) %>
      <%= link_to "Delete", task_path(task),
      method: :delete,
      data: { confirm: "Are you sure?" } %>
    </li>
  <% end %>

</ul>

<%= link_to 'Create a new task', new_task_path %>


